.category {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 12px;
    background: var(--surface);

    &__items {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__name {
        color: var(--color-text-primary);
    }
}