@import 'styles';

:host {
    display: block;
    height: $footer-height;
    color: var(--color-text-primary);
    background-color: var(--color-surface);
    transition: var(--transition-base);
}

footer {
    width: 100%;
    height: 100%;
}