@if (props) {
    <div class="heading">
        <h6>{{ props.item.name }}</h6>
    </div>

    @if (props.item.childItems.length) {
        <h6>Child Items</h6>
        @for (item of props.item.childItems; track item.id) {
            <div class="item">
                <div class="item__label">
                    <p>{{ getQuantity(item.name).qty }}</p>
                    <p>{{ item.name }}</p>
                </div>
                <div class="item__buttons">
                    <button (click)="increment(item.name)" class="item__buttons--button">+</button>
                    <button (click)="decrement(item.name)" class="item__buttons--button">-</button>
                </div>
            </div>
        }
    }

    @if (props.item.modifiers.length) {
        <h6>Modifiers</h6>
        @for (mod of props.item.modifiers; track mod.id) {
            <div class="item">
                <div class="item__label">
                    <p>{{ getQuantity(mod.name).qty }}</p>
                    <p>{{ mod.name }}</p>
                </div>
                <div class="item__buttons">
                    <button (click)="increment(mod.name)" class="item__buttons--button">+</button>
                    <button (click)="decrement(mod.name)" class="item__buttons--button">-</button>
                </div>
            </div>
        }
    }
}

