@import 'styles';

:host {
    display: block;
    width: 100%;
    color: var(--color-text-primary);
}

h6 {
    margin: 0.5em 0;
    border-left: 1px solid var(--color-primary);
    padding-left: 0.5em;
}

.heading {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: space-between;

    &__label {
        display: flex;
        gap: 4px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &--button {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}