<div class="container" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
    <div class="modal">
        @if (config) {
            <div class="modal__header">
                <h6 id="modalTitle">{{ config.params.title }}</h6>
                <div class="modal__header--buttons">
                    @for (btn of config.params.headerButtons; track $index) {
                        <button [ngClass]="[btn.cssClass, 'modal__header--button']" (click)="btn.action()">
                            {{ btn.label }}
                        </button>
                    }
                    <button class="modal__header--button shadow-md" (click)="close()">X</button>
                </div>
            </div>
            <div class="modal__body">
                <ng-container
                    *ngComponentOutlet="component; inputs: { props: config.props }"
                ></ng-container>
            </div>
        }
    </div>
</div>